#footer
  clearfix()
  padding: 40px 0
  color: rgba(255, 255, 255, 0.6)
  font-family: font-title
  position: relative
  display: block
  margin: 0 auto
  background: color-navy
  text-align: center
  @media print
    display: none
  a
    color: inherit
    text-decoration: none
    padding: 0 10px
    transition: 0.2s
    &:hover
      color: #fff

#footer-copyright
  a
    font-weight: bold

#footer-copyright, #footer-social-links, #footer-links
  padding: 15px 0

#footer-social-links span
  font-size: 1.5em

.footer-link
  font-size: 30px
  margin-left: 20px
  &:first-child
    margin-left: 0